
.link {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0px;
    color: var(--dark-blue);
}

.navLinksContainer{
    transform: translateX(550px)
}

.nav::before {
    content: "";
    position: absolute; /* set position to absolute */
    top: 96px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* set a semi-transparent background color */
    z-index: 1; /* set z-index to -1 to be below the .nav */
  }

  .active {
    transition: transform .5s ease-in-out;
    transform: translateX(0px);
    z-index: 30;
  }

  .closing {
    transition: transform .5s ease-in-out;
    transform: translateX(100vw);
    z-index: 3;
  }

  .mobileNav {
    background-color: var(--very-light-gray);
    position: absolute;
    z-index: 2;
    top: 95px;
    right: -35px;
  }

  .link:focus {
    padding: 5px;
    outline: 2px solid blue;
  }

  .button:focus {
    outline: 2px solid blue;
  }

  @media(min-width:768px) {

    .nav {
      align-self: center;
      margin-right: 100px;
    }

    .link {
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 0px;
        text-align: left;
        color: var(--med-gray);
    }
    .nav::before {
        all: unset;
      }

    .button {
        display: none;
    }
    .slideDown {
        background-color: transparent;
        position: static;
        z-index: 1;
    }

    .navUl {
        margin-top: 10px;
    }

    .navLi {
        display: inline-block;
    }
    
  }

  @media(min-width:1280px) {
    .nav {
      align-self: center;
      margin-right: 0;
    }
  }
  