/* typography */
.heading {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1.2px;
    text-align: left;
    color: var(--dark-blue);
  }
  
  .text {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--dark-gray);
  }


  
  
  @media(min-width:768px) {
    .headerAboutText {
        font-size: 120px;
        font-weight: 700;
        line-height: 200px;
        letter-spacing: -3px;
        text-align: right;
        color: var(--very-light-gray);
    }

    .heading {
      font-size: 72px;
      line-height: 64px;
      letter-spacing: -2px;
    }
  
    .text {
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0px;
    }
  
    .asideText {
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 18px;
      color: var(--light-gray);
    }
  }
  
  /* End typography */

.headerWhiteBox {
    background-color: var(--white);
    width: 343px;
    height: 45px;
    z-index: 3;
    position: relative;
    top: -45px;
    z-index: 3;
}

.heroContainer {
    position: relative;
    z-index: -1;
}

.heroContainer::before {
    position: absolute;
    width: 1110px;
    height: 240px;
    content: "";
    z-index: 1;
    background-color: #00000046;
}

.heroImage{
    background-image: url(../../public/assets/about/mobile/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 240px;
}

.aside {
    display: none;
}

.headerAboutTextContainer {
    display: none;
}



@media(min-width:768px) {

    .heroContainer::before {
        position: absolute;
        width: 100%;
        height: 720px;
        content: "";
        z-index: 1;
        background-color: #00000046;
    }

    .heroImage {
        background-image: url(../../public/assets/about/tablet/image-hero.jpg);
        height: 720px;
    }

    .headerWhiteBox {
        background-color: var(--white);
        width: 572px;
        height: 431px;
        z-index: 3;
        position:absolute;
        top: 289px;
        right: -57px;
        z-index: 3;
    }

    .aside {
        display:block;
    }
    
    .headerAboutTextContainer {
        display: block;
        position: absolute;
        top: 204px;
        right: 0;
        z-index: 4;
    }

    .headerHr {
        height: 1px;
        width: 65px;
        background-color: var(--light-gray);
        position: relative;
        top: -27px;
        left: -150px;
    }

    .heading {
      width: 456px;
      position: absolute;
      top: 451px;
      right: 0;
      z-index: 4;
    }

    .text {
        width: 70%;
        position: relative;
        top: -100px;
        left: 155px;
        z-index: 4;
    }
  
    .asideText {
      transform: rotate(90deg);
      position: absolute;
      top: 98px;
      left: -210px;
      white-space: nowrap;
    }
  
    .asideBar {
      position: absolute;
      top: -150px;
      left: -97px;
      width: 1px;
      height: 104px;
      background-color: var(--light-gray);
    }
  }
  
  @media(min-width:1280px) {
    .asideText {
      left: -184px;
    }
  
    .asideBar {
      left: -124px;
    }
  }